/* DEFAULTS */
body.cordova-ios-7{
	margin-top: 20px;
}

.default-button-pressed {
	opacity: 0.6;
}

.overlay-view {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.overlay-view .x-panel-inner {
    background: transparent !important;
}

.x-carousel-indicator span {
	background: rgba(62, 186, 143, 0.4);
}
.x-carousel-indicator span.x-carousel-indicator-active {
	background: rgba(62, 186, 143, 1);
}

/*
 * TABLET CSS
 */

 /* TUTORIAL VIEW */
.tutorial-page {
	background: #f5f6f6;
}
.tutorial-page-item {
	width: 90%;
	margin: 0 auto;
	color: #676767;
	font-size: 20px;
}
.tutorial-page-item.first-item {
	margin-top: 50px;
}
.tutorial-step {
	display: -webkit-box;
	-webkit-box-align: start;
}
.tutorial-step.center-layout {
	display: block;
	text-align: center;
}
.tutorial-step.center-layout .center-layout-content {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;

	margin-bottom: 30px;
}
.tutorial-step .step-num {
	width: 20px;
	color: #3eba8f;
}
.tutorial-step .step-info {
	-webkit-box-flex: 1;
}
.tutorial-step .step-desc {
	margin-left: 5px;
}
.tutorial-step .step-info .step-desc {
	margin-bottom: 30px;
}
.tutorial-step .step-info .step-img {
	height: 219px;
}
.tutorial-step .step-img.step-img-1 {
	background: url(../images/tablet/step_img_1.png) center no-repeat;
	background-size: auto 100%;
}
.tutorial-step .step-img.step-img-2 {
	background: url(../images/tablet/step_img_2.png) center no-repeat;
	background-size: auto 100%;
}
.tutorial-step .step-img.step-img-3 {
	height: 148px;
	background: url(../images/tablet/step_img_3.png) center no-repeat;
	background-size: auto 100%;
}
.tutorial-step .step-img.step-img-4 {
	height: 235px;
	background: url(../images/tablet/step_img_4.png) center no-repeat;
	background-size: auto 100%;
}
.tutorial-step .step-img.step-img-5 {
	height: 247px;
	background: url(../images/tablet/step_img_5.png) center no-repeat;
	background-size: auto 100%;
}
.tutorial-step .step-img.step-img-6 {
	height: 294px;
	background: url(../images/tablet/step_img_6.png) center no-repeat;
	background-size: auto 100%;
}
.start-btn {
	width: 368px;
	height: 70px;
	padding: 0;
	color: white;
	border: none !important;
	border-radius: 0 !important;
	font-size: 28px;

	background: url(../images/tablet/camera_actionsheet_take_btn.png) no-repeat !important;
	background-size: 368px 70px !important;
}

/* HOME VIEW */
.ruler-btn, .camera-btn, .info-btn {
	border: none !important;
	border-radius: 0 !important;
	padding: 0;
}
.ruler-btn, .camera-btn {
	width: 145px;
	height: 145px;
}
.ruler-btn {
	background: url(../images/tablet/ruler_btn.png) no-repeat !important;
	background-size: 145px 145px !important;
}
.camera-btn {
	background: url(../images/tablet/camera_btn.png) no-repeat !important;
	background-size: 145px 145px !important;
}
.info-btn {
	width: 75px;
	height: 75px;
	background: url(../images/tablet/info_btn.png) no-repeat !important;
	background-size: 75px 75px !important;
}

.action-sheet-view {
	height: 250px !important;
	-webkit-transform: translate3d(0, 250px, 0);
}
.action-sheet-view.overlay-view {
	background: white !important;
}
.action-sheet-view.overlay-view .x-panel-inner {
	background: white !important;
}
.action-sheet-btn {
	width: 368px;
	height: 70px;
	padding: 0;
	color: white;
	border: none !important;
	border-radius: 0 !important;
	font-size: 28px;
}
.action-sheet-btn .x-button-label {
	font-weight: normal !important;
}
.action-sheet-btn.take-btn {
	background: url(../images/tablet/camera_actionsheet_take_btn.png) no-repeat !important;
	background-size: 368px 70px !important;
}
.action-sheet-btn.choose-btn {
	background: url(../images/tablet/camera_actionsheet_choose_btn.png) no-repeat !important;
	background-size: 368px 70px !important;
}
.action-sheet-btn.cancel-btn {
	background: url(../images/tablet/camera_actionsheet_cancel_btn.png) no-repeat !important;
	background-size: 368px 70px !important;
}

/* TRANSFORM VIEW */
.navbar, .bottom-bar {
	height: 81px !important;
	background: white !important;
}
.navbar-left-btn, .navbar-right-btn {
	height: 81px !important;
	border: none !important;
	background: #3eba8f !important;
	padding: 0;
	border-radius: 0 !important;
	color: white;
	font-size: 26px;
}
.navbar-left-btn {
	border-bottom-right-radius: 25px !important;
}
.navbar-right-btn {
	border-bottom-left-radius: 25px !important;
}
.navbar-left-btn .x-button-label , .navbar-right-btn .x-button-label  {
	font-weight: normal !important;
}
.navbar-left-btn .x-button-label {
	border-right: 1px solid #2f9472;
}

.bottom-bar {
	background: #3eba8f !important;
}
.crop-btn {
	height: 81px !important;
	border: none !important;
	padding: 0;
	border-radius: 0 !important;
	color: white;
	background: transparent !important;
	font-size: 30px;
}
.crop-btn .x-button-label {
	border-right: 1px solid #2f9472;
	font-weight: normal !important;
}
.rotate-btn {
	border: none !important;
	border-radius: 0 !important;
	height: 91px;
	background: url(../images/tablet/rotate_btn.png) no-repeat center center !important;
	background-size: 37px 39px !important;
}

.transform-container {
	background: white !important;
}
.transform-container .x-innerhtml {
	position: relative;
	height: 100%;
}
.transform-container img, .transform-container canvas {
	position: absolute;
}
.transform-container img {
	max-width: 100%;
	max-height: 100%;
}

.overlay-layer {
	position: absolute;
	top: 0;
	left: 0;
}
.overlay-layer .overlay-rect {
	position: absolute;
	background: rgba(249,252,252,0.5);
}
.overlay-layer .crop-zone {
	position: absolute;
	background: transparent;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: justify;

	border: 1px solid #2f9472;
}

.crop-zone .box-row {
	width: 100%;
	-webkit-box-flex: 1;

	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;

	border-bottom: 1px solid #2f9472;
}
.crop-zone .box-row:last-child {
	border-bottom: none;
}

.box-row .box {
	-webkit-box-flex: 1;

	border-right: 1px solid #2f9472;
}
.box-row .box:last-child {
	border-right: none;
}

/* ADJUSTMENT VIEW */
.modal-view {
	background: rgba(0,0,0,0) !important;
}
.share-action-sheet-view {
	padding: 0 0 20px !important;
    border-radius: 0 !important;
    box-shadow: none !important;

    bottom: 91px !important;
    width: 728px;
	height: 241px;
	background: url(../images/tablet/share_actionsheet_bg.png) no-repeat !important;
	background-size: 728px 241px !important;
}
.share-action-sheet-view .x-panel-inner {
    background: transparent !important;
}

.share-action-sheet-btn {
	border: none !important;
	border-radius: 0;
	background: transparent !important;
	color: white;
	width: 100% !important;
	font-size: 28px;
}
.share-action-sheet-btn .x-button-label {
	font-weight: normal !important;
}
.share-action-sheet-btn.email-btn, 
.share-action-sheet-btn.save-btn,
.share-action-sheet-btn.cancel-btn {
	padding: 10px 0;
}
.share-action-sheet-btn.email-btn {
	border-top: 1px solid #2f9472 !important;
	border-bottom: 1px solid #2f9472 !important;
}
.share-btn {
	border: none !important;
	border-radius: 0;
	width: 33px;
	height: 47px;
	background: url(../images/tablet/share_btn.png) no-repeat !important;
	background-size: 33px 47px !important;
}

/* RULER VIEW */
.ruler-popup-view {
	border-radius: 0 !important;
    box-shadow: none !important;
    padding: 10px 0 0 0 !important;
    color: white;
    font-size: 28px;

    width: 409px;
    height: 335px;
    background: url(../images/tablet/ruler_popup_bg.png) no-repeat !important;
    background-size: 409px 335px !important;
}
.ruler-popup-view .x-panel-inner {
    background: transparent !important;
}
.slide-to-left-icon {
	width: 57px;
	height: 74px;
	background: url(../images/tablet/slide_to_left_icon.png) no-repeat;
	background-size: 57px 74px;
}
.ruler-popup-btn {
	background: transparent !important;
	border: none !important;
	border-radius: 0;
	color: white;
	width: 100%;
	padding: 35px 0;
}
.ruler-popup-btn .x-button-label {
	font-weight: normal !important;
}
.ruler-popup-btn.ok-btn {
	border-top: 1px solid #2f9472 !important;
	border-bottom: 1px solid #2f9472 !important;
}
.ruler-tri-btn {
	border: none;
	border-radius: 0;
	width: 50px;
	height: 37px;
	background: url(../images/tablet/ruler_tri_btn.png) no-repeat !important;
	background-size: 50px 37px !important;
}

/* INFO VIEW */
.info-page {
	width: 80%;
	margin: 80px auto;
	font-size: 24px;
}
.info-page .title {
	color: #3eba8f;
	margin-bottom: 40px;
}
.info-page .simulate-btn {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;

	width: 368px;
	height: 70px;
	margin: 0 auto;
	color: white;
	font-size: 28px;
	margin-bottom: 30px;

	background: url(../images/tablet/camera_actionsheet_choose_btn.png) no-repeat;
	background-size: 368px 70px;
}
.info-page .message {
	color: #676767;
}
.message .message-para {
	margin-bottom: 30px;
}
.message-para .message-para-title {
	color: #444445;
	margin-bottom: 30px;
}
.message-para .para-step {
	display: -webkit-box;
	-webkit-box-align: start;

	margin-bottom: 30px;
}
.para-step .num {
	width: 20px;
}
.para-step .desc {
	-webkit-box-flex: 1;
}
.message-para .para-step:last-child {
	margin-bottom: 0;
}
.message-para-img {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;

	margin-top: 5px;
}
.x-ray-film1 {
	width: 196px;
	height: 134px;
	background: url(../images/tablet/x_ray_film1.png) center no-repeat;
	background-size: 196px 134px;
}
.x-ray-film2 {
	width: 169px;
	height: 127px;
	background: url(../images/tablet/x_ray_film2.png) center no-repeat;
	background-size: 169px 127px;
}
.x-ray-film3 {
	width: 166px;
	height: 127px;
	margin-left: 5px;
	background: url(../images/tablet/x_ray_film3.png) center no-repeat;
	background-size: 166px 127px;
}

/*
 * PHONE CSS
 */
@media only screen and (max-width: 479px) {
	/* TUTORIAL VIEW */
	.tutorial-page-item {
		font-size: 15px;
	}
	.tutorial-page-item.first-item {
		margin-top: 30px;
	}
	.tutorial-step .step-info .step-img {
		height: 89px;
	}
	.tutorial-step .step-img.step-img-1 {
		background: url(../images/phone/step_img_1.png) center no-repeat;
		background-size: auto 100%;
	}
	.tutorial-step .step-img.step-img-2 {
		background: url(../images/phone/step_img_2.png) center no-repeat;
		background-size: auto 100%;
	}
	.tutorial-step .step-img.step-img-3 {
		height: 89px;
		background: url(../images/phone/step_img_3.png) center no-repeat;
		background-size: auto 100%;
	}
	.tutorial-step .step-img.step-img-4 {
		height: 99px;
		background: url(../images/phone/step_img_4.png) center no-repeat;
		background-size: auto 100%;
	}
	.tutorial-step .step-img.step-img-5 {
		height: 136px;
		background: url(../images/phone/step_img_5.png) center no-repeat;
		background-size: auto 100%;
	}
	.tutorial-step .step-img.step-img-6 {
		height: 223px;
		background: url(../images/phone/step_img_6.png) center no-repeat;
		background-size: auto 100%;
	}
	.start-btn {
		width: 257px;
		height: 47px;
		font-size: 18px;

		background: url(../images/phone/camera_actionsheet_take_btn.png) no-repeat !important;
		background-size: 257px 47px !important;
	}

	/* HOME VIEW */
	.ruler-btn, .camera-btn {
		width: 114px;
		height: 114px;
	}
	.ruler-btn {
		background: url(../images/phone/ruler_btn.png) no-repeat !important;
		background-size: 114px 114px !important;
	}
	.camera-btn {
		background: url(../images/phone/camera_btn.png) no-repeat !important;
		background-size: 114px 114px !important;
	}
	.info-btn {
		width: 42px;
		height: 42px;
		background: url(../images/phone/info_btn.png) no-repeat !important;
		background-size: 42px 42px !important;
	}

	.action-sheet-view {
		height: 200px !important;
		-webkit-transform: translate3d(0, 200px, 0);
	}
	.action-sheet-btn {
		width: 257px;
		height: 47px;
		font-size: 18px;
	}
	.action-sheet-btn.take-btn {
		background: url(../images/phone/camera_actionsheet_take_btn.png) no-repeat !important;
		background-size: 257px 47px !important;
	}
	.action-sheet-btn.choose-btn {
		background: url(../images/phone/camera_actionsheet_choose_btn.png) no-repeat !important;
		background-size: 257px 47px !important;
	}
	.action-sheet-btn.cancel-btn {
		background: url(../images/phone/camera_actionsheet_cancel_btn.png) no-repeat !important;
		background-size: 257px 47px !important;
	}

	/* TRANSFORM VIEW */
	.navbar, .bottom-bar {
		height: 57px !important;
	}
	.navbar-left-btn, .navbar-right-btn {
		height: 57px !important;
		font-size: 17px;
	}
	.navbar-left-btn {
		border-bottom-right-radius: 20px !important;
	}
	.navbar-right-btn {
		border-bottom-left-radius: 20px !important;
	}
	.crop-btn {
		height: 57px !important;
		font-size: 18px;
	}
	.rotate-btn {
		height: 57px;
		background: url(../images/phone/rotate_btn.png) no-repeat center center !important;
		background-size: 19px 20px !important;
	}

	/* ADJUSTMENT VIEW */
	.share-action-sheet-view {
		padding: 0 0 20px !important;
		bottom: 67px !important;
		width: 310px;
		height: 194px;
		background: url(../images/phone/share_actionsheet_bg.png) no-repeat !important;
		background-size: 310px 194px !important;
	}
	.share-btn {
		width: 23px;
		height: 33px;
		background: url(../images/phone/share_btn.png) no-repeat !important;
		background-size: 23px 33px !important;
	}
	.share-action-sheet-btn {
		font-size: 18px;
	}
	.share-action-sheet-btn.email-btn, 
	.share-action-sheet-btn.save-btn,
	.share-action-sheet-btn.cancel-btn {
		padding: 5px 0;
	}

	/* RULER VIEW */
	.ruler-popup-view {
		width: 310px;
	    height: 254px;
	    font-size: 18px;
	    background: url(../images/phone/ruler_popup_bg.png) no-repeat !important;
	    background-size: 310px 254px !important;
	}
	.slide-to-left-icon {
		width: 43px;
		height: 56px;
		background: url(../images/phone/slide_to_left_icon.png) no-repeat;
		background-size: 43px 56px;
	}
	.ruler-popup-btn {
		padding: 20px 0;
	}

	/* INFO VIEW */
	.info-page {
		width: 90%;
		margin: 40px auto;
		font-size: 15px;
	}
	.info-page .title {
		margin-bottom: 20px;
	}
	.info-page .simulate-btn {
		width: 257px;
		height: 47px;
		font-size: 18px;
		margin-bottom: 10px;

		background: url(../images/phone/camera_actionsheet_choose_btn.png) no-repeat;
		background-size: 257px 47px;
	}
	.message .message-para {
		margin-bottom: 10px;
	}
	.message-para .message-para-title {
		margin-bottom: 10px;
	}
	.message-para .para-step {
		margin-bottom: 10px;
	}
	.message-para .para-step:last-child {
		margin-bottom: 0;
	}
	.x-ray-film1 {
		width: 127px;
		height: 87px;
		background: url(../images/phone/x_ray_film1.png) center no-repeat;
		background-size: 127px 87px;
	}
	.x-ray-film2 {
		width: 127px;
		height: 87px;
		background: url(../images/phone/x_ray_film2.png) center no-repeat;
		background-size: 127px 87px;
	}
	.x-ray-film3 {
		width: 127px;
		height: 87px;
		margin-left: 5px;
		background: url(../images/phone/x_ray_film3.png) center no-repeat;
		background-size: 127px 87px;
	}
}











