.transform-container .x-innerhtml {
	position: relative;
	height: 100%;
}
.transform-container img, .transform-container canvas {
	position: absolute;
}
.transform-container img {
	max-width: 100%;
	max-height: 100%;
}
.overlay-layer {
	position: absolute;
	top: 0;
	left: 0;
}
.overlay-layer .overlay-rect {
	position: absolute;
	background: rgba(0,0,0,0.5);
}
.overlay-layer .crop-zone {
	position: absolute;
	background: transparent;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: justify;

	border: 1px solid #f9fcfc;
}

.crop-zone .box-row {
	width: 100%;
	-webkit-box-flex: 1;

	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: justify;

	border-bottom: 1px solid #2d9572;
}
.crop-zone .box-row:last-child {
	border-bottom: none;
}

.box-row .box {
	-webkit-box-flex: 1;

	border-right: 1px solid #2d9572;
}
.box-row .box:last-child {
	border-right: none;
}

.overlay-view {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
.overlay-view .x-panel-inner {
    background: transparent !important;
}

